@font-face {
    font-family: 'ictis';
    src: local('Myriad Pro Regular'), local('Myriad-Pro-Regular'),
        url('MyriadPro-Regular.woff2') format('woff2'),
        url('MyriadPro-Regular.woff') format('woff'),
        url('MyriadPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}